.sidebarClassName {
    background: $cinzaEscuro;
}

.logo-bg {
    background: $cinzaClaro;
}

.logo_imagem {
    padding: 10px;
    margin-left: 55px;
    margin-right: 55px;
}

.sair{
    a{
    color: $cor
}
}