.titulo_das_paginas{
    margin-bottom: 2%;
    color: darken(#aeb0c2, 30%);
    font-size: 25px;
    font-weight: 600;
}
.espaco-top{
    padding-top: 5% !important;
}
.react-bootstrap-table{
border-radius: 50px;
}

.tabela{
    border-radius: 7px;
    tr{
        border-radius: 7px;
        border-bottom: 3px solid #FFFFFF;
    }
    th{
        border-right: 3px solid #FFFFFF;
            background: #FFFFFF;
            font-size: 14px;
            color: #97a4b0;
    }
}

.table-bordered td, .table-bordered td{
    border: transparent;
    border-right: 3px solid #FFFFFF;
    color:  #666666;
    cursor: pointer;
}

.react-bootstrap-table-pagination-list{
    margin-left: -7%;
    margin-top: 1.5%;
}