@import '../painel/src/scss/variaveis';

.tempertatura_Atual{
    mar
    h1{
        font-family: 'Roboto', sans-serif;
        color: $cor;
        font-size: 40px;
        font-weight: 300;
    }
    h3{
        font-size: 130px;
        font-weight: 500;
    }
}