@import '../painel/src/scss/variaveis';

.tempertatura_Atual{
    h1{
        font-family: 'Roboto', sans-serif;
        color: $cor;
        font-size: 40px;
        font-weight: 300;
    }
    h3{
        font-size: 130px;
        font-weight: 500;
    }
}

@mixin icone {
        width: 100px;
        height: 66px;
        margin-top: 6px;
        background-size: cover;
}


    .a2r{
        @include icone;
        background: url('../../img/icones_temperatura/2r.jpg') no-repeat;
    }

    .a4{
        background-size:100% 100%;
        background-size: cover;
        background: url('../../img/icones_temperatura/4.png') no-repeat;
    }
