@import '../screens/scss/variaveis';

.azul{
    color: $cor;
    font-size: 29px;
}

.cinza{
    color: darken(#f6f6f6, 50%);
    font-size: 27px;
}

.cinza-escuro{
    color: #545454;
}

