@import '../screens/scss/_variaveis.scss';

.texto-card{
    font-size: 2em;
    color: #4f4f4f;
}

.footer-card{
    color: #c8c8c9;
}

.box-card{
    border: none;
    border-radius: 10px;
    &:hover{
        background: $cor;
        p{
            color: #FFFFFF;
        }
    }
}