$cinza: darken( #e1e2e6, 30%);

.formulario_cadastro_equipamento{
    p{
        font-weight: 500;
        color: darken(#aeb0c2, 30%);
        font-size: 15px;
    }
    label{
        color: $cinza
    }
  
    input[type="text"]{
        border: 1px solid $cinza;
        display: block;
    }
}

@media (max-width: 992px){

.modal_equipamentos{
    h2{
        font-size: 22px;
    }
}
    
.ReactModal__Content {
            height: 100%;
            margin-top: 20%;
            width: 93%;
    }
}