@import '../screens/scss/_variaveis.scss';

.navbar{
    background: $cor;
    position: fixed;
    z-index: 0;
    width: 100%;
    img{
        padding: 5px;
        width: 100px;
    }
    a{
        color: #fff;
        cursor: pointer;
        &:hover{
            text-decoration: none;
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    i{
        padding: 5px;
        color: #fff
    }
}

.box{
  width: 15%;
}
//-----------------------------Mobile--------------------------------


@media (max-width: 992px){
  .box{
      width: 100%;
     
  }
  nav{
    .sair{
      display: none
    }
  }
}
