@import '../scss/variaveis';

.bg{
  background-image:   linear-gradient((to top, rgba(253,251,251,0.6) 0%, rgba(235,237,238,1) 100%)), url('../../images/bg.jpg');
}

.icones_login{
  font-size: 19px;
    padding-top: 12px;
}

.App-logo {
  height: 40vmin;
  
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-login{
  border: 1px solid #D2D2D2;
  opacity: 1;
  .card-topo{
      background: $cor;
      border: none;
        img{
            padding: 25px 110px 25px 110px;
        }
  }
}

form{
  margin-top: 50px;
  margin-bottom: 50px;
}

input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid $cinza-claro;
    box-shadow: none;
    border-radius: 0;
    &:focus, :hover{
      border: none;
      border-bottom: 1px solid $cinza-claro;
      box-shadow: none;
    }
}

.fas{
  color: $cinza-claro
}

.cor-botao{
  background: $cor;
  color: #fff;
  &:hover{
    background: darken($cor, 8%);
    color: #fff
  }
}

.btn-grande{
  width: 200px
}

//chrome
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 
  -webkit-text-fill-color: darken($cor, 10%);
  -webkit-box-shadow: 0 0 0px 1000px rgba($cor, 0.2) inset;
  transition: background-color 5000s ease-in-out 0s;
}

