@import '_variaveis';
@import '_base';
@import '../componentes/sidenav/_sidenav.scss';
@import '../componentes/sidenav/_botaosidenav.scss';
@import '../componentes/sidenav/_navbar.scss';
@import '../componentes/graficos/_grafico.scss'