
@import '../../scss/variaveis';


.login_body{
    background: url('../../img/bg.jpg') no-repeat center;
}

.asd{
    background: #f1f !important;
}

.login_espaço_card{
    margin-top: -50px;
}

.cor_do_botao{
    background: $cor;
}




